<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{title}
  
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")
  
  script(src="/bower_components/angular/angular.js", charset="utf-8")
  script(src="/bower_components/angular-ui-router/release/angular-ui-router.js", charset="utf-8")
  
  script(src="/js/module.js")
  script(src="/js/controllers/mainCtrl.js")
  //- script(src="/js/services/service.js")
  
body(ng-app='myApp')
  h1 #{title}
  
