<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{title}
  
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")
  
  script(src="/bower_components/angular/angular.js", charset="utf-8")
  script(src="/bower_components/angular-ui-router/release/angular-ui-router.js", charset="utf-8")
  
  script(src="/js/module.js")
  script(src="/js/controllers/mainCtrl.js")
  script(src="/js/controllers/homeCtrl.js")
  script(src="/js/controllers/menuCtrl.js")
  script(src="/js/controllers/propertiesCtrl.js")
  script(src="/js/controllers/tenantsCtrl.js")
  
  script(src="/js/services/Property.js")
  //- script(src="/js/services/service.js")
  
body(ng-app='myApp', ng-controller='mainCtrl')
  .container-fluid
    .topBar
      h1 #{title}
    .viewsArea
      .row
        .col-xs-2(ui-view='menu')
        .col-xs-10(ui-view='right')
    
  
